@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Varela+Round&display=swap');
body{
    background-color:lightyellow;
}

*{
    margin:0;
    padding:0;
}
nav{
    font-family: 'Gentium Book Plus', serif;

}
nav ul{
    display: flex;
    align-items:center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color:white;
   

}
.fa-envelope{
    color:rgb(106, 21, 203);
}
.fa-linkedin-in:hover {
  color:rgb(117, 117, 253);
}
.fa-github:hover{
    color: white;
}
.fa-envelope:hover{
    color:rgba(235, 242, 203, 0.761);
}
.brand img{
    width: 55px;
    padding:0 8px;
}
.brand{
    display: flex;
    align-items: center;
   
}
nav ul li{
    padding: 0 12px;
}
.container{
    min-height:72vh;
    background-color:black;
    color:white;
    font-family:'varela Round', sans-serif;
    display:flex;
    width:70%;
    border-radius:12px;
    padding:34px;
    margin:23px auto;
    background-image:url('background.jpg')
}
.bottom{
position:sticky;
height:130px;
background-color: black;
color:white;
bottom:0;
display:flex;
justify-content: center;
align-items:center;
flex-direction: column;


}
.icons{
    margin-top:14px;
}
.icons i{
   cursor: pointer;
}
#myProgressBar{
    width:80vw;
    cursor:pointer;
  
   
}
.songItemContainer{
    margin-top:74px;
}
.songItem{
height:50px;
display:flex;
background-color: white;
width:80%;
color: black;
margin: 12px 0;
justify-content: space-between;
align-items:center;
border-radius: 35px;
}
.songItem img{
    width:43px;
    margin:0 23px;
    border-radius: 35px;;
}
.timestamp{
    margin:0 23px;
   
}
.timestamp i{
    cursor:pointer;
}
.songInfo{
    position:absolute;

    left: 10vw;
    font-family:'varela Round', sans-serif;

}
.songInfo img{
    opacity:0;
    transition:opacity 0.4s ease-in;
    
}
#about{
    text-align: center;
    color:white;
    background-color:black;
}
#intro{
    margin:4px 4px;
    padding-left: 8px;
    background-color:rgba(62, 62, 62, 0.17);
}
